.header img {
    height:220px;
    width:250px;
    background-color: rgb(219, 230, 240);
}
.header{
    text-align:center;
    padding: 20px;
}
.header nav{
    background-color: rgb(125, 165, 165);
    font-size:20px;
    border: 1px solid lightgray;
    line-height: 40px;
}
.header nav a{
    text-decoration:none;
    margin: 5px;
    color: black;
    padding: 5px;

}
nav a:hover{
    background-color:gray;
}